.NavBar{
  text-align: center;
  color: orange;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.post {
  display: block;
  text-align: center;
  color: orange;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.about {
  margin-top: 50px;
  display: block;
  text-align: center;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
.p {
   line-height: 1.75;
   margin-left: 50px;
   margin-right: 50px;
}
.bright-spot {
  text-align: center;
}
.bright-spot img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.img {
    position: relative;
    width:  500px;
    height: 500px;
}

.App {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/cba29d23293091.56321f2e22ae7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Press Start 2P', cursive;
  color: orange;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.row img {
  margin-left: 150px;
  margin-right: 25px;
  vertical-align: center;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-left: 125px;
  margin-top: 25px;
  vertical-align: center;
}

.input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #FFA500;
}
